body{
	border-style: solid;
	border-color: #EBED53;
	border-left-width: 100px;
	border-right-width: 100px;
}
header{
	background-color:#97F67A;
	color:black;
	box-shadow:5px 5px 5px 5px gray;
	padding:20px;
	border-radius: 20px 40px 20px 40px;
}
h1{
	text-align:center;
}
img{
	margin-left: 300px;
	padding-bottom: 20px;
}
ul{
	text-decoration:none;
	padding-top:30px;
	padding-bottom:20px;
	text-align:center;
}
li{
	display:inline-block;
	background-color:#EBED53;
	color:black;
	padding:10px;
	transition:0.8s;
	margin-left:10px;
	margin-right:10px;
}
li:hover{
	background-color:#066B08;
	color:white;
}
main{
	background-color: #5FB743;
	padding: 50px;
	box-shadow: 10px 10px 10px gray;
	border-radius: 20px 40px 20px 40px;
}

